.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.branding {
  display: flex;
  align-items: center;
  margin: auto;

  img {
    width: 90px;

    @include media-breakpoint-up(md) {
      width: 120px;
    }
  }

  h1 {
    color: white;
    font-style: italic;
    margin-left: 1em;
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}

/// slanted edges here
.page-title {
  background: #41ade5;
  position: relative;
  z-index: 1;
  padding: 10% 20px;

  &::before,
  &::after {
    background: inherit;
    content: "";
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
  }
}
