.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.branding {
  display: flex;
  align-items: center;
  margin: auto;

  img {
    width: 90px;

    @include media-breakpoint-up(md) {
      width: 120px;
    }
  }

  h1 {
    color: white;
    font-style: italic;
    margin-left: 1em;
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}
