.hero-image {
  background-repeat: no-repeat !important;
  background-position: top right;
  background-size: auto;
  height: 100%;
  background-attachment: fixed;

  @include media-breakpoint-up(md) {
    height: 100vh;
    background-size: cover;
  }
}

.spirit {
  mix-blend-mode: multiply;
  max-width: 220px;
}

.intro {
  margin-top: 8rem;

  @include media-breakpoint-up(md) {
    margin-top: 10rem;
  }
}

.aikido-emblem {
  width: 80px;
  height: auto;
  mix-blend-mode: multiply;
  margin-right: 20px;
}

.vh-60 {
  margin-top: 1rem;
  margin-bottom: 2rem;

  @include media-breakpoint-up(md) {
    margin-top: 25rem;
  }
}
