/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

input[type=email] {
  width: 100% !important;
}

input[type=submit] {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-block;

  width: 100% !important;
}
